.mainFooter {
    background: linear-gradient(#EDDB55, #FFEC5C);
    border-radius: 20% 20% 0 0;
    font-family: Consolas, monospace;
    border-top: #FF5A33 solid 3px;

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.mainFooter__copyright {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.mainFooter__info {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

.mainFooter__info a {
    color: black;
}

.mainFooter__info a:hover {
    color: #FF5A33;
}