.mainHeader {
    background: linear-gradient(var(--main-bg-color), var(--secondary-bg-color));
    border-radius: 0 0 20% 20%;
    filter: drop-shadow(0px 10px 5px gainsboro);
    border-bottom: var(--main-el-color) solid 3px;

    position: relative;
    top: 0;
    width: 100%;
}

.mainHeader__logoText {
    margin-left: 10px;
}

.mainHeader__logoImg {
    width: 7%;
    height: 7%;
    border-radius: 100%;
    border: 3px dashed var(--main-el-color);
    margin: 6px 10px;
}

.mainHeader__logo-and-text {
    display: flex;
    justify-content: center;
    padding-top: 3px;
}