@import "header.css";
@import "footer.css";
@import "navigation.css";
@import "about-us.css";
@import "sale-block.css";
@import "meals.css";
@import "order.css";

body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, serif;
}

::selection {
    color: #FF5A33;
    background: #FFEC5C;
}