.meal-block {
    width: 50%;
    margin-bottom: 2%;
    max-width: 800px;
}

.meal-block__food-category {
    margin: 35px 1% 35px;
    padding: 0.2% 1%;
    border: var(--main-el-color) solid 3px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 0 0 25px 25px whitesmoke;
}

.meal-block__food-category h2 {
    font-weight: bold;
    color: var(--main-el-color);
    text-shadow: gainsboro 1px 1px 5px;
    text-align: center;
}

.meal-block__horizontal-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.meal-block__food_frame {
    flex: 1 0 21%;
}


.meal-block__food_frame h3 {
    text-align: center;
    font-size: 0.9rem;
}

.meal-block__food_frame img {
    height: 120px;
    width: 120px;
    border: var(--main-el-color) dashed 2px;
    border-radius: 5px;
    position: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.menu-page__container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .meal-block { width: 80%; }
}