.meal-block {
    width: 50%;
    margin-bottom: 2%;
    max-width: 800px;
}

.meal-block__food-category {
    margin: 35px 1% 35px;
    padding: 0.2% 1%;
    border: var(--main-el-color) solid 3px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 0 0 25px 25px whitesmoke;
}

.meal-block__food_frame_price {
    font-weight: bold;
    font-size: 1.02rem;
    color: var(--keyword-color);
}

.meal-block__food-category h2 {
    font-weight: bold;
    color: var(--main-el-color);
    text-shadow: gainsboro 1px 1px 5px;
    text-align: center;
}

.meal-block__horizontal-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.meal-block__food_frame {
    flex: 1 0 21%;
}


.meal-block__food_frame h3 {
    text-align: center;
    font-size: 0.9rem;
}

.meal-block__food_frame img {
    height: 120px;
    width: 120px;
    border: var(--main-el-color) dashed 2px;
    border-radius: 5px;
    position: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.menu-page__container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meal-block__value-button {
    width: 150px;
    text-align: center;
    margin: 2px auto;
    padding-top: 1px;
}

.meal-block__value-button_button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0;
    width: 40px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #FF5A33B4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.decrease_button {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

.increase_button {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

form #input-wrap {
    margin: 0;
    padding: 0;
}

input {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
    width: 40px;
    height: 35px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.meal-block__value-button_button:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .meal-block { width: 80%; }
}