.navigationMenu__container {
    position: fixed;
    width: 22%;
    max-width: 300px;
    min-width: 200px;
    height: 100vh;
    background: var(--main-bg-color);
    font-size: 0.9em;
    border-right: var(--main-el-color) solid 2px;
    z-index: 2;
}

.navigationMenu__container_active {

}

.navigationMenu__container_deactivated {
    background: transparent;
    border: hidden;
}

.navigationMenu__navigation_deactivated {
    visibility: hidden;
}

.navigationMenu__navigation_active {
    visibility: visible;
}

.navigationMenu__pageList {
    position: relative;
    margin: auto 0;
    text-align: left;
    top: 50%;
    font-weight: bold;
    list-style: none;
}

.navigationMenu__pageList li {
    position: relative;
    margin-top: 3.2em;
    margin-right: 10px;
}

.navigationMenu__pageList a {
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    display: block;
    color: black;
}
.navigationMenu__pageList a:hover {
    color: crimson;
}

.navigationMenu__expandButton {
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--main-el-color);
    color: white;
    padding: 10px 15px;
    border: none;
}

.navigationMenu__expandButton:hover {
    background-color: var(--extra-color);
}

@media screen and (max-width: 850px) {
    .navigationMenu__container {
        width: 100%;
        height: 120px;
        max-width: none;
        border-top: none;
    }

    .navigationMenu__pageList {
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        vertical-align: center;
        margin-top: -55px;
    }

    .navigationMenu__container_active {
        border-bottom: var(--main-el-color) solid 2px;
    }
}

@media screen and (max-height: 300px) {
    .navigationMenu__container {
        width: 100%;
        height: 120px;
        max-width: none;
        border-top: none;
    }

    .navigationMenu__pageList {
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        vertical-align: center;
        margin-top: -55px;
    }
}

@media screen and (max-width: 500px) {
    .navigationMenu__pageList {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        top: 0;
        vertical-align: center;
        margin-top: -55px;
    }

    .navigationMenu__pageList li {
        position: relative;
        margin: 5px 0;
    }
}