.order {
    width: 20%;
    margin-top: 2%;
}

.order #hidden {
    visibility: hidden;
}

.order__container {
    margin-right: 10px;
    font-family: Bradley Hand, cursive;
    padding: 0 1% 5% 48px;
    background-color: whitesmoke;
    box-shadow: 0 0 30px 20px whitesmoke;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../assets/paper-pattern.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.order__container h2 {
    text-align: center;
    font-size: 1.2rem;
    color: #FF5A33;
}

.order__container dl {

}

.order__container dt {
    text-align: left;
}

.order__container dd {
    text-align: right;
    font-weight: bold;
}

.order__container dl dd {
    display: inline;
    margin: 0;
}
.order__container dl dd:after{
    display: block;
    content: '';
}
.order__container dl dt{
    display: inline-block;
    width: 80%;
}

.order__container span.order__total {
    font-weight: bold;
}

.order__container button#make-order {
    width: 80%;
    height: 30px;
    margin: 5% 10% 1% 10%;
    border: var(--main-el-color) solid 3px;
    border-radius: 10px;
    color: var(--main-el-color);
    background-color: var(--main-bg-color);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 9px var(--secondary-bg-color);
}

.order__container button#make-order:hover {
    background-color: var(--secondary-bg-color);
}

.order__container button#make-order:active {
    box-shadow: 0 5px var(--secondary-bg-color);
    transform: translateY(4px);
}