.order {
    width: 20%;
    margin-top: 2%;
    max-width: 350px;
}

#hidden {
    visibility: hidden;
    display: none;
}

.order__container {
    margin-right: 10px;
    font-family: Bradley Hand, cursive;
    padding: 0 1% 5% 54px;
    background-color: whitesmoke;
    box-shadow: 0 0 30px 20px whitesmoke;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../assets/paper-pattern.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.order__order_button {
    visibility: hidden;
    height: 0;
    width: 0;
    border: var(--main-el-color) solid 1px;
    cursor: pointer;
}
.order__order_button img {
    height: 0;
    width: 0;
}

.order__container h2 {
    text-align: center;
    font-size: 1.2rem;
    color: var(--main-el-color);
}

.order__container dl {

}

.order__container dt {
    text-align: left;
}

.order__container dd {
    text-align: right;
    font-weight: bold;
}

.order__container dl dd {
    display: inline;
    margin-left: 3px;
}
.order__container dl dd:after{
    display: block;
    content: '';
}
.order__container dl dt{
    display: inline-block;
    width: 78%;
}

.order__container span.order__total {
    font-weight: bold;
}

.order__container button#make-order {
    width: 80%;
    height: 30px;
    margin: 5% 10% 1% 10%;
    border: var(--main-el-color) solid 3px;
    border-radius: 10px;
    color: var(--main-el-color);
    background-color: var(--main-bg-color);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 9px var(--secondary-bg-color);
}

.order__container button#make-order:hover {
    background-color: var(--secondary-bg-color);
}

.order__container button#make-order:active {
    box-shadow: 0 5px var(--secondary-bg-color);
    transform: translateY(4px);
}

#order__order_badge {
    display: none;
    position: relative;
    top: -18px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.order__detail-page_active {
    display: initial;
    z-index: 3;
    position: center;
}

.order__detail-page_hidden {
    display: none;
}

.order__detail-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    closeBtnInside: true;
}

dl.order__container-items-final {

}

dl.order__container-items-final dt {
    text-align: left;
}

dl.order__container-items-final dd {
    text-align: right;
    font-weight: bold;
}

dl.order__container-items-final dd {
    display: inline;
    margin-left: 10px;
}
dl.order__container-items-final dd:after{
    display: block;
    content: '';
}
dl.order__container-items-final dt{
    display: inline-block;
    width: 80%;
}

span.order__total-final {
    font-weight: bold;
}

.popup__address {
    font-style: italic;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--main-el-color);
}

.popup__main p {
    line-height: 1.3;
    text-indent: 1.5rem;
}

#submit-order {
    width: 80px;
    height: 20px;
    border-radius: 10px;
    background-color: #2b59b5;
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    color: white;
}

.order__detail-popup-tel-input {
    width: 100%;
    text-align: left;
    border: black 1px solid;
    border-radius: 5px;
}

.order__detail-popup-com-input {
    width: 100%;
    text-align: left;
    height: 40px;
}

@media screen and (max-width: 1700px) {
    .order__order_button {
        visibility: visible;
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    #order__order_badge {
        display: initial;
    }

    .order__order_button img {
        height: 30px;
        width: 30px;
        margin-top: -15px;
    }

    .order__container { visibility: hidden; }
}

@media screen and (max-width: 850px) {
    .order__container {
        width: 5%;
        padding-right: 5px;
    }

    .order__order_button {
        margin-left: 35px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 450px) {
    .order__container {
        width: 2%;
        padding-right: 5px;
    }

    .order__order_button {
        height: 30px;
        width: 30px;
    }

    .order__order_button img {
        height: 15px;
        width: 15px;
    }
}