.order__container {
    font-family: Bradley Hand, cursive;
    color: #FF5A33;
    margin-left: 75%;
    height: 20%;
    padding: 1%;
    background-color: whitesmoke;
    box-shadow: 0 0 30px 20px whitesmoke;
}

.order__container h2 {
    text-align: center;
    font-size: 1.2rem;
}

.order__container dl {

}

.order__container dt {
    text-align: left;
}

.order__container dd {
    text-align: right;
    font-weight: bold;
}

.order__container dl dd {
    display: inline;
    margin: 0;
}
.order__container dl dd:after{
    display: block;
    content: '';
}
.order__container dl dt{
    display: inline-block;
    width: 80%;
}

.order__container button#make-order {
    width: 80%;
    height: 30px;
    margin: 5% 10% 1% 10%;
    background-color: rgba(0, 0, 0, 0);
    border: #FF5A33 solid 3px;
    border-radius: 10px;
    color: #FF5A33;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 9px lightgray;
}

.order__container button#make-order:hover {
    background-color: gainsboro;
}

.order__container button#make-order:active {
    box-shadow: 0 5px lightgray;
    transform: translateY(4px);
}